services:
  vpnexitnode:
    image: tailscale/tailscale:latest
    container_name: vpnexitnode
    hostname: ${TAILSCALE_HOSTNAME}
    restart: unless-stopped
    dns:
      - 192.168.0.100
    networks:
      - vpnexitnode_net
    cap_add:
      - net_admin
      - sys_module
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ${TAILSCALE_STATE_LOCATION}:/var/lib/tailscale
      - ${TAILSCALE_CONFIG}:/config
    environment:
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_AUTHKEY=${TAILSCALE_AUTHKEY}
      - TS_HOSTNAME=${TAILSCALE_HOSTNAME}
      - TS_USERSPACE=false
      # Advertise your local subnet
      - TS_ROUTES=192.168.0.0/24 # Replace with your local network's CIDR
      - TS_EXTRA_ARGS=${TAILSCALE_EXTRA_ARGS}
      - TS_DEBUG_FIREWALL_MODE=nftables
    sysctls:
      # Enable IP forwarding
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.forwarding=1
    healthcheck:
      test: ["CMD", "tailscale", "status"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  vpnexitnode_net:
    external: true